<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/estilo.css">
   <img class= "borda" src="../imagens/borda.jpg" alt="Patinhas de cachorro e ossos">
</head>
<body>
    {{{body}}}
    <footer>
    <img class= "borda" src="../imagens/borda.jpg" alt="Patinhas de cachorro e ossos"> 
    </footer>
</body>
</html>