<head>
        <title> CADASTRO</title>
    </head>

    <body>
         <h1>Cadastro de Usuário </h1>
     
         <form action="/cadastro_usuario" method="post">
         Nome:
         <input type="text" name="nome" id="nome"><br>

         <br>E-mail: 
         <input type="text" name= "email"><br>

        
         <br>Possui outros animais:
         <select name= "animais">
         <option value=1>Sim</option>
         <option value=0>Não</option>
         </select><br>
        
         

         <br> Moradia:
         <select name= "moradia">
         <option value="apartamento">Apartamento</option>
         <option value="casa">Casa</option>
         </select><br>
         
         <br> Senha: 
         <input type="text" name= "senha"><br>

         <br>Confirmação de senha: 
         <input type="text"><br>

         <br>Informações adicionais:
         <input type="text" name= "info_adic"><br>
          
         <br><input type="submit" value="OK"><br>
         </form><br>

         <img class= "logoCanto" src="/imagens/logo.jpg" alt="logo"><br><br>
         
    </body>