<head>
    <title>CHAT</title>
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>

<h2>Chat de mensagens</h2>

<div class="container">
  <img src="/imagens/usuario1.png" alt="Avatar" style="width:50%;">
  <p>...</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="/imagens/usuario2.png" alt="Avatar" class="right" style="width:100%;">
  <p>Boa tarde!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="/imagens/usuario1.png" alt="Avatar" style="width:100%;">
  <p>....</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="/imagens/usuario2.png" alt="Avatar" style="width:100%;">
  <p>.....</p>
  <span class="time-left">11:05</span>
</div>

<br> <img class="logoCanto" src="/imagens/logo.jpg" alt="petinder"> <br><br>

</body>