<head>
        <title> EDITAR ADMIN</title>
    </head>

    <body>
         <h1>Editar Perfil </h1>
     
         <form>
    
         <br>E-mail: 
         <input type="text"><br>    
              
         <br> Senha: 
         <input type="text"><br>

         <br>Confirmação de senha: 
         <input type="text"><br>
          
         <br> <input type="submit" value="CADASTRAR ANIMAL"><br>

         </form><br>

         <img class= "logoCanto" src="/imagens/logo.jpg" alt="logo"><br><br>
         
    </body>
    