<head>
        <title> EDITAR USUARIO</title>
    </head>

    <body>
         <h1>Editar Perfil </h1>
     
         <br> <strong> Nome: </strong> <i> Leonardo</i> <br>
         
         <br>E-mail: 
         <input type="text" name= "email"><br>

        
         <br>Possui outros animais:
         <select name= "animais">
         <option value="sim">Sim</option>
         <option value="não">Não</option>
         </select><br>
        
         

         <br> Moradia:
         <select name= "moradia">
         <option value="apartamento">Apartamento</option>
         <option value="casa">Casa</option>
         </select><br>
         
         <br> Senha: 
         <input type="text" name= "senha"><br>

         <br>Confirmação de senha: 
         <input type="text"><br>

         <br>Informações adicionais:
         <input type="text" name= "info_adic"><br>
          
         <br><input type="submit" value="OK"><br>
         </form><br>

         <img class= "logoCanto" src="/imagens/logo.jpg" alt="logo"><br><br>
         
    </body>