<head>
        <title>PERFIL</title>
    </head>

     <body>
        <h1>  Perfil do animal  </h1>

        <img class="gato" src = "/imagens/gatoperfil.jpg">

     <br><input type="button" value="Like" style="width:16%; height: 40px" onclick="alert('Obrigado pela avaliação!')">
     <input type="button" value="Chat" style="width:16%; height: 40px" onclick="alert('Tem certeza que quer começar um chat?')"> <br>
   
     <br> <strong> Nome: </strong> <i> Bibi </i> <br>
     <br> <strong> Tamanho: </strong> <i> pequeno</i> <br>
     <br> <strong> Espécie: </strong> <i>Cachorro</i> <br>
     <br> <strong> Sexo: </strong> <i> feminina</i> <br>
     <br> <strong> Raça: </strong> <i>Sem raça definida</i> <br>
     <br> <strong> Idade aproximada: </strong> <i>2 anos</i> <br> 
     <br> <strong> Informações Adicionais: </strong> <i> carinhosa e educada </i> <br>
    
     <br> <img class="logoCanto" src="/imagens/logo.jpg" alt="petinder"> <br><br>
    </body>



   