<h1>Cadastrar Novo Usuário</h1>
<form action="/usuario/cadastrar" method="post">
<label for="nome">Nome</label>
<input type="text" name="nome" id="nome">
<label for="email">E-mail</label>
<input type="text" name="email" id="email">
<label for="senha">Senha</label>
<input type="password" name="senha" id="senha">
<input type="submit" value="Cadastrar">
</form>